
* {
    box-sizing: border-box;
}

div {
    align-content : center;
}


.row {
    margin: 0 auto;
    align-items: center;
}

.column {
    display: inline-block;
    float: inside;
    width: 370px;
    padding: 15px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
}

figure {
    padding: 30px;
    border: 2px solid darkgray;
    margin: 10px;
}

figcaption {
    font-size: 20px;
    text-align: center;
}

img {
    display: block;
}


h1 {
    text-align: center;
    font-size: 24px;
    color: navy;
}