<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote!</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<h1>Pick your favorite of the two languages!</h1>
<div class="row" align="center">
  <div class="column">
    <a href="/vote/{{ c1 }}/{{ c2 }}/win">
    <figure>
        <img width=250 height=250 src="../static/{{ c1 }}.png"/>
        <br/>
        <figcaption>{{ c1 }}</figcaption>
    </figure>
    </a>
  </div>
  <div class="column">
    <a href="/vote/{{ c1 }}/{{ c2 }}/tie">
    <figure>
        <img width=250 height=250 src="../static/tie.png"/>
        <br/>
        <figcaption>Tie/NA</figcaption>
    </figure>
    </a>
  </div>
  <div class="column">
    <a href="/vote/{{ c1 }}/{{ c2 }}/loss">
    <figure>
        <img width=250 height=250 src="../static/{{ c2 }}.png"/>
        <br/>
        <figcaption>{{ c2 }}</figcaption>
    </figure>
    </a>
  </div>
</div>

<center>Click <a href="/view_results/">here</a> to view the results so far!</center>
</body>
</html>